body {
background-color: #1a1a1a;
}

h1 {
color: #ffb300;
font-size: 75px;
font-family: Arial, sans-serif;
text-align: center;
text-transform: uppercase;
}

h2 {
color: #ff6b00;
font-family: Arial, sans-serif;
font-size: 35px;
}

p {
color: white;
font-family: Arial, sans-serif;
font-size: 20px;
}
