body {
background-color: #4b0000;
}

h1 {
color: #ffb300;
font-size: 75px;
font-family: Arial, sans-serif;
text-align: center;
text-transform: uppercase;
}

h2 {
color: #ff6b00;
font-family: Arial, sans-serif;
font-size: 35px;
}

p {
color: white;
font-family: Arial, sans-serif;
font-size: 20px;
}

body {
background: linear-gradient(to bottom, #ffd700, #ffb300, #8a5a00);
min-height: 100vh;
}

h1 {
color: #ffffff;
font-size: 75px;
font-family: Arial, sans-serif;
text-align: center;
text-transform: uppercase;
}

h2 {
color: #ffffff;
font-family: Arial, sans-serif;
font-size: 35px;
text-align: center;
}

p {
color: #ffffff;
font-family: Arial, sans-serif;
font-size: 20px;
text-align: center;
}

.video {
width: 80%;
height: 500px;
display: block;
margin: 30px auto;
border: 4px solid #ffffff;
}
